<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <div class="detail-container">
    <div>
        FirstName: <%= dataUser.firstName%>
    </div>
    <div>
        LastName: <%= dataUser.lastName%>
    </div>
    <div>
        Email: <%= dataUser.email%>
    </div>
    <div>
        Address: <%= dataUser.address%>
    </div>
   </div>
</body>
</html>